<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>显示题目</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="center">
            <ul>
                <li><p th:text="${#httpSession.getAttribute('user_name')}"></p></li>
                <li><a href="/index">主页</a></li>
                <li>|</li>
                <li><a href="/displayAll">显示所有题目</a></li>
            </ul>
        </div>
    </header>
    <div class="bottom">
        <form action="/updateTopic" method="post">
            <div class="title">
                标题:<input type="text" name="title" th:value="${topic.title}">
            </div>
            <div class="content">
                <textarea name="content" th:text="${topic.content}"></textarea>
            </div>

            <input type="hidden" name="p_id" th:value="${topic.p_id}" >
            <input type="submit" value="修改">
        </form>
    </div>

    <script th:inline="javascript">
        var message = null;
        message = [[${message}]]
        if(message != null){
            alert(message);
        }
    </script>
</body>
</html>