<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>显示所有题目</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="center">
            <ul>
                <li><p th:text="${#httpSession.getAttribute('user_name')}"></p></li>
                <li><a href="/index">主页</a></li>

            </ul>
        </div>
    </header>
    <table>
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>内容</th>
            <th>修改操作</th>
            <th>删除操作</th>
        </tr>

        <tr th:each="tl: ${topicList}">
            <td th:text="${tl.p_id}"></td>
            <td th:text="${tl.title}"></td>
            <td th:text="${tl.content}"></td>
            <td>
                <form action="/displayTopic" method="post">
                    <input type="hidden" name="p_id" th:value="${tl.p_id}" >
                    <input type="submit" value="修改">
                </form>
            </td>
            <td>
                <form action="/deleteTopic" method="post">
                    <input type="hidden" name="p_id" th:value="${tl.p_id}" >
                    <input type="submit" value="删除">
                </form>
            </td>
        </tr>

    </table>
    <script th:inline="javascript">
        var message = null;
        message = [[${message}]]
        if(message != null){
            alert(message);

        }
    </script>
</body>
</html>